<form id='create_post_form'>
<h2>New post</h2>
<p>
	<label for='title'>Title</label> <br/>
	<input type='input' name='title' id='title'/>
</p>
<p><label for='body'>Body</label><br/>
<textarea name='body' id='body'/></textarea>
</p>
<p><input type='submit' value='Create'/></p>
</form>
