<form id='write_chat_form'>
<h2>New chat post</h2>
<p><label for='body'>Body</label><br/>
<textarea name='chat_message' id='chat_message'/></textarea>
</p>
<p><input type='submit' value='Send'/></p>
</form>
